#boxTermo{
  width: 100%;
  height: 275px;
  overflow: scroll;
}
#botaoTermos{
  width: 100%;
  height: 35px;
  background: #00cc99;
  text-align: center;
  margin-top: 20px;
  border-radius: 20px;
   border: 1px solid transparent;
   padding-top: 5px;


}
#botaoTermos p{
  color: white;
  font-size: 14px;
  font-family: sans-serif
}